      <%= render 'send_newsitem_top' %>
      
        <%= render 'send_newsitem_truncated' %>
            
        <p style="font-style:italic;">
          Thank you for enjoying your guest access: 
          <a href="https://www.thespainreport.com/subscriptions/new" style="color:#AA151B;">please subscribe now</a> to keep getting full-text articles by e-mail.
          You keep us 100% independent. Your subscription guarantees your Spain news.
        </p>
          
      <%= render 'send_newsitem_bottom' %>