<h1>Reset Your Password</h1>
<p style="line-height: 140%; margin-bottom: 20px;">Enter your e-mail address and we will immediately send you a link to click on to reset your password. The link will be valid for one hour.</p>

<%= form_tag password_resets_path, :method => :post do %>
  <div class="email-input-float"><%= text_field_tag 'email', nil, class: "input200", placeholder: "Your e-mail…" %></div>
  <div class="email-input-float"><button type="submit" class="blueformbutton">Reset Password</button></div>
  <div class="clear"></div>
<% end %>
