<% title 'Latest Top Stories' %>

<%= render 'tickerstories' %>

<div class="content-left-new-page"> <%# LEFT-HAND MAIN CONTENT BLOCK %>
<div class="content-white-background">

<h1>Latest Top Stories</h1>

<div class="article-lede">
Original, independent reporting of the latest news from Spain, in English, as soon as it's news.
</div>

<div class="index-non-home">
  <div class="listing-left">Date</div>
  <div class="listing-right">Latest Spain News</div>
  <div class="clear"></div>
</div>

<% @last30.each do |article| %>
  <div style="width:100%; padding-top: 10px;">
    <div class="listing-left">
      <%= article.created_at.to_formatted_s(:short) %>
    </div>
    <div class="listing-right" style="border-bottom: 1px dotted #999999;">
    <div class="listing-update-text">
      <% if article.urgency == 'majorbreaking' && article.updated_at >= 2.hours.ago %>
  <span class="listing-update-slug"><span class="breaking-label-mini">MAJOR BREAKING</span></span>
<% elsif article.urgency == 'breaking' && article.updated_at >= 2.hours.ago %>
  <span class="listing-update-slug"><span class="breaking-label-mini">BREAKING</span></span>
<% elsif article.urgency == 'latest' && article.created_at >= 12.hours.ago %>
  <span class="listing-update-slug"><span class="latest-label-mini">LATEST</span></span>
<% else %>
<% end %>
      <span class="listing-update-slug"><%= link_to article.headline, article %></span>
      <p><%= article.body.truncate(130) %></p>
    </div>
    </div>
    <div class="clear"></div>
  </div>
<% end %>

</div>
</div>
<div style="clear:both;"></div> 