<% title 'About' %>

<%= render 'tickerstories' %>

<h1>About The Spain Report</h1>

<div class="article-lede">We are here to report on the news from Spain in English and to help you understand it all better.</div>

<div class="article-text">

<p>The Spain Report monitors hundreds of Spanish news stories each week and does its own original, independent, in-country reporting to provide you with timely information and editorial analysis of the most important major, breaking and trending news from Spain, in English, wherever you are in the world. Then we take you deeper to understand the trends and driving forces changing the country.</p>

<p>We value respect, politeness, compassion and fairness in a quest for greater truth, more facts and a deeper understanding of Spain and Spaniards, and we do our best to respect our readers' ever scarcer time and attention.</p>

<p>Our editorial line takes a broad, systemic view of the nation and its international situation to ask if Spain is coping as well as possible with the challenges of the 21st Century to provide citizens, residents and visitors with the very best opportunities in life, today and into the future.</p>

<p>The Spain Report is a friend of Spain, Spaniards and all those foreigners who have invested their time, money and lives in the country.</p>

<h3>Business Model</h3>
<p>You will see no ads on The Spain Report. We believe in the value of original, independent, focused, quality, in-depth news reporting and editorial analysis, as do an increasing number of our happy subscribers (<a href="/subscribe/">testimonials here</a>). As it is impossible to know the personal economic situation of each subscriber, we use an adaptive value pricing model that lets each subscriber choose how frequently they wish to pay and the most suitable price point for their own financial situation. Group or corporate subscribers benefit from the same options.</p>

<h3>Investors</h3>
<p>A first report on the evolution of The Spain Report and its business model will shortly be available for investors.</p>

<h3>Corporate Information</h3>
<p>TheSpainReport.com is owned and operated by The Spain Report Ltd., a UK limited company registered for business in England & Wales.</p>

<p>
<strong>The Spain Report Ltd.</strong>
<br />Suite LP26203, Lower Ground Floor
<br />145-157 St John Street
<br />London
<br />EC1V 4PW
<br />United Kingdom
<br />(00 44) (0)20 760 85570
</p>

<p>Our company number is <a href="https://beta.companieshouse.gov.uk/company/09210027">09210027</a>.</p>

</div>