<% title 'Subscribe' %>

<%= render 'tickerstories' %>

<h1>Subscribe</h1>

<div class="article-lede">We give you lots of Spain news and editorial analysis. You get to chooose how much you want to pay to read it all.</div>



  <%= form_tag '/stripe_checkout', :class => '', :id => 'payment-form' do %>
      <div style="margin-top: 20px;">
        <label class="control-label" for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="you@example.com" style="width: 25em"/>
      </div>
      <div style="margin-top: 20px;">
        <label class="control-label" for="number">Card Number</label>
        <input type="text" size="20" data-stripe="number" id="number" placeholder="**** **** **** ****" pattern="[\d ]*" style="width: 18em"/>
      </div>
      <div style="margin-top: 20px;">
        <label class="control-label" for="cvc">CVC</label>
        <input type="text" style="width: 3em" size="3" data-stripe="cvc" id="cvc" placeholder="***" pattern="\d*"/>
        <img id="card-image" src="/img/credit.png" style="height: 30px; padding-left: 10px; margin-top: -10px">
      </div>
      <div style="margin-top: 20px;">
        <label class="control-label">Exp (MM/YYYY)</label>
        <input style="width: 2em" type="text" size="2" id="exp-month" data-stripe="exp-month" placeholder="MM" pattern="\d*"/>
        <span> / </span>
        <input style="width: 3em" type="text" size="4" id="exp-year" data-stripe="exp-year" placeholder="YYYY" pattern="\d*"/>
      </div>
      <div class="price" style="margin-top: 20px;">$50</div>
      <div style="">
        <button type="submit" class="btn btn-primary btn-large">Buy Now</button>
      </div>
  <% end %>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
$(function(){
  Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
});

$('#payment-form').submit(function(event) {
  var form = $(this);
  form.find('button').prop('disabled', true);
  Stripe.createToken(form, stripeResponseHandler);
  return false;
});

function stripeResponseHandler(status, response) {
  var form = $('#payment-form');
  if (response.error) {
    form.find('.payment-errors').text(response.error.message);
    form.find('button').prop('disabled', false);
  } else {
    var token = response.id;
    form.append($('<input type="hidden" name="stripeToken">').val(token));
    form.get(0).submit();
  }
}
</script>

<div class="article-text">

<h3>Version 4 Launch</h3>

<p>We have just launched Version 4 of The Spain Report. Full subscription options will be back in a few days. In the meantime, enjoy the articles!</p>

<div class="happy-subscribers">

<h3>Join Lots Of Happy Subscribers. Get Instant Access To All Of Our Content</h3>

<p>“Your reporting and comment are excellent – please keep up the good work! As a British person resident in Catalonia for the past 13 years, I really appreciate your objective and well written reporting of politics in Spain.“—John, Catalonia</p>

<p>“I have been a subscriber to The Spain Report for a few months and it is a cracking read: insightful, well written and independent. How refreshing it is not having to read a load of cut and pasted press releases from the corrupt cronies “running” the joint. This story was one of the best. It could be a candidate for Private Eye\’s Funny Old World column.…I subscribed to TSR as it covers important news with analysis and is delivered in a convenient format.“—Edward, Gibraltar</p>

<p>“Since my daughter has lived in Spain for many years and is now with a Spanish partner, I have taken up interest in Spain. But not being able to read or speak Spanish (to my regret), your initiative is ideal for me.“—Aad, Holland</p>

<p>“I enjoy reading The Spain Report and it\’s my go to when I want to understand the news in Spain. My Spanish is not yet good enough for me to grasp all I read in the Spanish press. Also I find your editorial line is more independent, and keener to question the news as you report it.“—Geoff</p>

<p>“Just wanted to let you know that I just subscribed and it was easier. The articles that you are writing are exactly what I want to read about – the employment situation, the corruption and what I need to look out for.“—Carlene, Canada</p>

<p>“I just love your editorial updates. You are erudite and succinct like no other commentator I have found, whats more, from an editorial stand point, you are consistent and up to the minute.“—Edward, Canary Islands</p>

<p>“I am really liking your website more and more, thanks for not continuing down the sensationalistic route!“—Nacho, Spain</p>

<p>“Thank you for filling me in on this crisis in Spain – I wouldn\’t have got so much information elsewhere.“—Judith, Ireland</p>

<p>“I just found out about The Spain Report and while I know Spanish, I really like the idea.“—Adam, Lisbon</p>

<p>“I am a new subscriber to your Spain Report. It is the only one in English that I receive. :)“—Jenny, USA</p>

<p>“We\’re already finding your insights interesting and enlightening.”—David, Spain</p>

<p>“I follow all your stuff on twitter and it is of excellent quality.“—Cathal, Dublin</p>

<p>“If you want regular #news from #Spain in English, please subscribe to @thespainreport. It’ll be money well spent. Great resource. #media“—Patrick, London</p>
</div>
</div>