<div class="subscription-form-section-bottom">
	<div class="subscription-left-label-input">
		
	</div>
	<div class="subscription-right-form-element">
		<button type="submit" class="blueformbutton" style="z-index: 1000;">
			<% if controller_name == 'subscriptions' && ["spain", "new"].include?(action_name) %>
				Subscribe Now
			<% elsif controller_name == 'subscriptions' && ["prepay", "prepay_spain"].include?(action_name) %>
				Prepay Now
			<% elsif controller_name == 'subscriptions' && ["support", "support_spain"].include?(action_name) %>
				Support Now
			<% elsif controller_name == 'subscriptions' && ["support_es", "support_spain_es"].include?(action_name) %>
				Comprar
			<% end %>
		</button>
	</div>
	<div class="clear"></div>
</div>

<div class="clear"></div>

<input type="hidden" name="ts" id="ts" value="">
<input type="hidden" name="base_price" id="base_price" value="">
<input type="hidden" name="discount" id="discount" value="">
<input type="hidden" name="subtotal" id="subtotal" value="">
<input type="hidden" name="tax_amount" id="tax_amount" value="">
<input type="hidden" name="amount" id="amount" value="">
<input type="hidden" name="ip_address" id="ip_address" value="">
<input type="hidden" name="ip_country_code" id="ip_country_code" value="">
<input type="hidden" name="ip_country_name" id="ip_country_name" value="">
<% if controller_name == 'subscriptions' && ["support", "support_spain"].include?(action_name) %>
	<input type="hidden" name="quantity" id="quantity" value="1">
	<input type="hidden" name="forward" id="forward" value="">
	<input type="hidden" name="support" id="support" value="yes">
<% end %>



</div>