<% if @campaign.url? %> <%# PHOTO OR VIDEO WITH THE ENTRY? %>
	<div class="main-image-liveblog-update">
		<%= image_tag @campaign.url if @campaign.url? %>
	</div>
<% elsif @campaign.video? %>
	<div class="main-image-liveblog-update-video">
		<div class="video-wrapper">
			<%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{@campaign.video}?rel=0&amp;showinfo=0") %>
		</div>
	</div> 
<% else %>
<% end %>

<%= markdown(@campaign.text) %>