<div class="subscription-form-section-middle" style="background-image: url(<%= asset_path 'thespainreport-evssl-yellow.jpg' %>); background-repeat: no-repeat; background-position: bottom right; background-size: 65px 48px;">
	
	<div> 
		<div class="subscription-left-label-input">
			<% if controller_name == 'subscriptions' && ["new", "prepay", "support", "spain_new", "spain_prepay", "spain_support"].include?(action_name) %>
				Your Credit Card Number:
			<% elsif controller_name == 'subscriptions' && ["support_es", "spain_support_es"].include?(action_name) %>
				Número de tarjeta:
			<% end %>
		</div>
		<div class="subscription-right-form-element">
				<p>•••• •••• •••• <%= current_user.credit_card_last4_spain %></p>
		</div>
		<div class="clear"></div>
	</div>
	
	<div style="margin-top: 5px;">
		<div class="subscription-left-label-input">
			<% if controller_name == 'subscriptions' && ["new", "prepay", "support", "spain_new", "spain_prepay", "spain_support"].include?(action_name) %>
				Card Expiry Date:
			<% elsif controller_name == 'subscriptions' && ["support_es", "spain_support_es"].include?(action_name) %>
				Caduca:
			<% end %>
		</div>
			
		<div class="subscription-right-form-element">
			<p><%= current_user.credit_card_expiry_month_spain %> / <%= current_user.credit_card_expiry_year_spain %></p>
		</div>
		<div class="clear"></div>
	</div>
	
	<div style="margin-top: 5px;">
		<div class="subscription-left-label-input">
			<% if controller_name == 'subscriptions' && ["new", "prepay", "support", "spain_new", "spain_prepay", "spain_support"].include?(action_name) %>
				Card CVC/Security Code:
			<% elsif controller_name == 'subscriptions' && ["support_es", "spain_support_es"].include?(action_name) %>
				Código de seguridad:
			<% end %>
		</div>
		<div class="subscription-right-form-element">
			<p>•••</p>
		</div>
		<div class="clear"></div>
	</div>
	
</div>