<div class="subscription-form-section-middle" style="background-image: url(<%= asset_path 'thespainreport-evssl-yellow.jpg' %>); background-repeat: no-repeat; background-position: bottom right; background-size: 65px 48px;">
	
	<div> 
		<div class="subscription-left-label-input">
			Your Credit Card Number:
		</div>
		<div class="subscription-right-form-element">
				<p>•••• •••• •••• <%= current_user.credit_card_last4_spain %></p>
		</div>
		<div class="clear"></div>
	</div>
	
	<div style="margin-top: 5px;">
		<div class="subscription-left-label-input">
			Card Expiry Date:
		</div>
			
		<div class="subscription-right-form-element">
			<p><%= current_user.credit_card_expiry_month_spain %> / <%= current_user.credit_card_expiry_year_spain %></p>
		</div>
		<div class="clear"></div>
	</div>
	
	<div style="margin-top: 5px;">
		<div class="subscription-left-label-input">
			Card CVC/Security Code:
		</div>
		<div class="subscription-right-form-element">
			<p>•••</p>
		</div>
		<div class="clear"></div>
	</div>
	
</div>