<div class="subscription-form-section-middle" style="background-image: url(<%= asset_path 'thespainreport-evssl-yellow.jpg' %>); background-repeat: no-repeat; background-position: bottom right; background-size: 65px 48px;">
	<div> 
		<div class="subscription-left-label-input">
			<% if controller_name == 'subscriptions' && ["new", "prepay", "support", "spain_new", "spain_prepay", "spain_support"].include?(action_name) %>
				Your Credit Card Number:
			<% elsif controller_name == 'subscriptions' && ["support_es", "spain_support_es"].include?(action_name) %>
				Número de tarjeta:
			<% end %>
		</div>
		<div class="subscription-right-form-element form-group">
			<input type="tel" autocomplete="cc-number" id="cc-number" class="inputgeneral form-control cc-number" size="21" maxlength="19" data-stripe="number" placeholder="•••• •••• •••• ••••" onclick="calculateTotal()" />
		</div>
		<div class="clear"></div>
	</div>
	
	<div style="margin-top: 5px;">
		<div class="subscription-left-label-select">
			<% if controller_name == 'subscriptions' && ["new", "prepay", "support", "spain_new", "spain_prepay", "spain_support"].include?(action_name) %>
				Card Expiry Date:
			<% elsif controller_name == 'subscriptions' && ["support_es", "spain_support_es"].include?(action_name) %>
				Caduca:
			<% end %>
		</div>
			
		<div class="subscription-right-form-element">
			<select data-stripe="exp-month" class="ccjs-month">
				<option selected disabled>
					<% if controller_name == 'subscriptions' && ["new", "prepay", "support", "spain_new", "spain_prepay", "spain_support"].include?(action_name) %>
						Month
					<% elsif controller_name == 'subscriptions' && ["support_es", "spain_support_es"].include?(action_name) %>
						Mes
					<% end %>
				</option>
				<option value="01">01</option>
				<option value="02">02</option>
				<option value="03">03</option>
				<option value="04">04</option>
				<option value="05">05</option>
				<option value="06">06</option>
				<option value="07">07</option>
				<option value="08">08</option>
				<option value="09">09</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
			</select>
				
			<select data-stripe="exp-year" class="ccjs-year">
				<option selected disabled>
					<% if controller_name == 'subscriptions' && ["new", "prepay", "support", "spain_new", "spain_prepay", "spain_support"].include?(action_name) %>
						Year
					<% elsif controller_name == 'subscriptions' && ["support_es", "spain_support_es"].include?(action_name) %>
						Año
					<% end %>
				</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
				<option value="25">26</option>
			</select>
		</div>
		<div class="clear"></div>
	</div>
				
	<div style="margin-top: 5px;">
		<div class="subscription-left-label-input">
			<% if controller_name == 'subscriptions' && ["new", "prepay", "support", "spain_new", "spain_prepay", "spain_support"].include?(action_name) %>
				Card CVC/Security Code:
			<% elsif controller_name == 'subscriptions' && ["support_es", "spain_support_es"].include?(action_name) %>
				Código de seguridad:
			<% end %>
		</div>
		<div class="subscription-right-form-element">
			<input type="text" id="cc-cvc" class="inputgeneral cc-cvc" size="3" maxlength="4" data-stripe="cvc" placeholder="•••" autocomplete="off" required/>
		</div>
		<div class="clear"></div>
	</div>
</div>