	<div style="width:90%; margin: auto;">
	<h3 id="faq">Frequently Asked Questions</h3>
		<p><strong>Which payment methods can I use?</strong></p><p>Your credit or debit card (Visa, MasterCard or American Express). Debit cards—that debit your bank account directly—also work fine.</p>
		<p><strong>Who processes the payment?</strong></p><p>We use Stripe as our payment processor. They are a fully certified PCI Service Provider Level 1. You can read their security notes <a href="https://stripe.com/docs/security">here</a>.</p>
		<p><strong>Is the transaction safe?</strong></p><p>Very. Trust and online security are very important to us, both for business and for journalism. We have had zero complaints about transaction security. We use super-secure https EV SSL (extended validation, the green bar in your browser) for every page on the site, not just the subscription and credit card page. Every single article. We do not store your credit card details.</p> 
		<p><strong>Do you store my credit card details?</strong></p><p>No. We do not store your credit card details in our subscriber database, and we cannot access your credit card number via Stripe. Even Stripe encrypts and stores your details securely: "All card numbers are encrypted on disk with AES-256. Decryption keys are stored on separate machines. None of Stripe's internal servers and daemons are able to obtain plaintext card numbers". It's all very secure.</p>
		<p><strong>Can I cancel my subscription?</strong></p><p>Yes, of course, whenever you want. Just e-mail us at subscriptions@thespainreport.com. (A future version of the site will allow you to do this automatically).</p>
		<p><strong>Can we do a group subscription for X people?</strong></p><p>Yes, if you are a company, embassy or organisation that needs one. E-mail us and we will sort it out for you. We will invoice you, you can pay by bank transfer and we will add all of your subscribers for you.</p>
		<p><strong>How do I renew my subscription?</strong></p><p>It renews automatically at whatever price and period (monthly/yearly) you originally chose. If you want to change anything, just e-mail us.</p>
		<p><strong>Do you have student or education prices?</strong></p><p>No.</p>
		<p><strong>Do you have a mobile app?</strong></p><p>Not yet, but it's on the list. Push notifications are great for breaking news.</p>
		<p><strong>Where do I log in?</strong></p><p>On any article page at the top or top-right of your screen or underneath any article.</p>
		<p><strong>What if I forget my password?</strong></p><p>Use the forgotten password link or e-mail us if you get stuck. We'll fix it for you.</p>
	</div>