<div class="subscription-form-section-middle">
	<div class="subscription-left-label-input">
		How Many Months Forward?
	</div>
	<div class="subscription-right-form-element">			 
		<input type="number" pattern="\d*" name="forward" id="forward" class="input50" value="6" min="6" max="60" onchange="calculateTotal()" oninput="calculateTotal()">
	</div>
	<div class="clear"></div>
</div>