<div class="subscription-form-container" onmouseover="calculateTotal(); checkCountry()">

<% if flash.present? %>
	<% flash.each do |name, msg| %>
		<%= content_tag :div, id: "flash_#{name}_div" do -%>
			<%= content_tag :span, msg.html_safe, id: "flash_#{name}" %>
		<% end -%>
	<% end %>
<% end %>

<div class="subscription-form-section-middle">
	<div class="subscription-left-label-input">
		How Many Users?
	</div>
	<div class="subscription-right-form-element">			 
		<input type="number" pattern="\d*" name="quantity" id="quantity" class="input50" value="1" min="1" max="10000" onchange="calculateTotal()" oninput="calculateTotal()">
	</div>
	<div class="clear"></div>
</div>

<div class="subscription-form-section-middle">
	<div class="subscription-left-label-select">
		On Which Plan?
	</div>
	<div class="subscription-right-form-element">
		<select name="plan" id="plan" class="inputplans" onchange="calculateTotal()" onclick="calculateTotal()">