<option value="all_stories">£15.99/month — ALL STORIES-ARCHIVE</option>
<option value="all_current" selected="selected">£9.99/month — ALL STORIES-CURRENT</option>
<option value="one_story">£7.99/month — ONE STORY</option>