<option value="all_stories">All Stories-Archive - €17.99/month</option>
<option value="all_current">All Stories-Current - €10.99/month</option>
<option value="one_story">One Story - €8.99/month</option>