<option value="all_stories">All Stories-Archive - £15.99/month</option>
<option value="all_current">All Stories-Current - £9.99/month</option>
<option value="one_story">One Story - £7.99/month</option>