<div class="subscription-form-section-middle">
	<div class="subscription-left-label-select">
		Discount:
	</div>
	<div class="subscription-right-form-element">
		<span id="d"></span>
	</div>
	<div class="clear"></div>
</div>

<div class="subscription-form-section-middle">
	<div class="subscription-left-label-select">
		Subtotal:
	</div>
	<div class="subscription-right-form-element">
		<span id="p"></span>
	</div>
	<div class="clear"></div>
</div>

<div class="subscription-form-section-middle">
	<div class="subscription-left-label-select">
		VAT:
	</div>
	<div class="subscription-right-form-element">
		<span id="r"></span>
		<img src="" name="tax_flag" id="tax_flag" />
		<span name="country_name" id="country_name"></span>
	</div>
	<div class="clear"></div>
</div>

<div class="subscription-form-section-middle">
	<div class="subscription-left-label-select">
		Total:
	</div>
	<div class="subscription-right-form-element">
		<span id="t"></span>
		<% if controller_name == 'subscriptions' && ["spain", "new"].include?(action_name) %>
			 / month
		<% elsif controller_name == 'subscriptions' && ["prepay", "prepay_spain"].include?(action_name) %>
			 / one-time
		<% end %>
		
	</div>
	<div class="clear"></div>
</div>