		<p class="mb-10">
			<strong>Your support:</strong> 
			Choose as much as you want.
		</p>
		<p class="mb-10">
			<strong>You get:</strong> 
			The number of months of full access to The Spain Report you get in exchange for your generosity.
		</p>
		<p class="mb-10">
			<strong>Subtotal, tax, total:</strong> 
			If you're in the EU, VAT will be deducted from your total support purchase,
			so you know your card will be charged exactly the amount you choose.
		</p>
		<p class="mb-10">
			<strong>Receipts/Invoices:</strong> 
			You can access a receipt or invoice for tax or accounting purposes immediately after your purchase.
			There is space on each receipt to add your details.
		</p>
		<p class="mb-10">
			<strong>Credit Card:</strong> 
			We do not store your credit card number.
			We uses secure <em>https</em> for the whole site, with a 4,096 bit key.
			We use a secure payment processor called Stripe.
			They encrypt your details with the AES-256 standard.
		</p>
		<p class="mb-10">
			<strong>Other options:</strong> 
			For regular monthly recurring suscriptions, different access plans and multiple user discounts, <a href="/subscriptions/new">use this form</a>.
			For those options with one-off prepayments, <a href="/subscriptions/prepay">click here</a>.
		</p>
		<p class="mb-10">
			<strong>Questions & Problems:</strong>
			Send us an e-mail to <a href="mailto:subscriptions@thespainreport.com">subscriptions@thespainreport.com</a> and we will help you.
		</p>