<div class="subscription-form-section-middle">
	<div class="subscription-left-label-select">
		Subtotal:
	</div>
	<div class="subscription-right-form-element">
		<% if controller_name == 'subscriptions' && ["spain_support", "spain_support_es"].include?(action_name) %>
			€
		<% elsif controller_name == 'subscriptions' && ["support"].include?(action_name) %>
			£
		<% end %>
		<span id="p"></span>
	</div>
	<div class="clear"></div>
</div>

<div class="subscription-form-section-middle">
	<div class="subscription-left-label-select">
		VAT:
	</div>
	<div class="subscription-right-form-element">
		<% if controller_name == 'subscriptions' && ["spain_support", "spain_support_es"].include?(action_name) %>
			€
		<% elsif controller_name == 'subscriptions' && ["support"].include?(action_name) %>
			£
		<% end %>
		<span id="r"></span>
		<img src="" name="tax_flag" id="tax_flag" />
		<span name="country_name" id="country_name"></span>
	</div>
	<div class="clear"></div>
</div>

<div class="subscription-form-section-middle">
	<div class="subscription-left-label-select">
		Total:
	</div>
	<div class="subscription-right-form-element">
		<% if controller_name == 'subscriptions' && ["spain_support", "spain_support_es"].include?(action_name) %>
			€
		<% elsif controller_name == 'subscriptions' && ["support"].include?(action_name) %>
			£
		<% end %>
		<span id="t"></span>
		<% if controller_name == 'subscriptions' && ["spain_support"].include?(action_name) %>
			 / one-time
		<% elsif controller_name == 'subscriptions' && ["spain_support_es"].include?(action_name) %>
			 / pago único
		<% end %>
	</div>
	<div class="clear"></div>
</div>