<div class="light-green pad-20 instructions">
	<p class="mb-10 font-14">
		<strong>Tu contribución:</strong> 
		Elige la cantidad que quieras.
	</p>
	<p class="mb-10">
		<strong>A cambio recibes:</strong> 
		Los meses que podrás acceder a todos los contenidos de The Spain Report.
	</p>
	<p class="mb-10">
		<strong>Base, IVA, total:</strong> 
		Si compras desde algún país de la Unión Europea, se resta el IVA correspondiente del total.
		No pagarás más que la cantidad que elijas.
	</p>
	<p class="mb-10">
		<strong>Recibos/facturas:</strong> 
		Podrás imprimir un recibo o factura para tu asesor o tus registros en cuanto realices el pago, 
		y añadir tus datos fiscales a cada una.
	</p>
	<p class="mb-10">
		<strong>Tarjeta de crédito:</strong> 
		No guardamos el número de tu tarjeta de crédito.
		Usamos el protocolo <em>https</em> para toda la página web, con una clave de 4.096 bits.
		La empresa que procesa los pagos se llama Stripe.
		Ellos encriptan tus datos con el cifrado AES-256.
	</p>
	<p class="mb-10">
		<strong>Otras opciones:</strong> 
		Para las suscripciones mensuales normales, otros planes de acceso y descuentos para más de un usuario, <a href="/subscriptions/new">usa este formulario</a>.
		Para esas mismas opciones con un pago único, <a href="/subscriptions/prepay">haz clic aquí</a>.
	</p>
	<p class="mb-10">
		<strong>Preguntas y problemas:</strong>
		Envíanos un correo a <a href="mailto:subscriptions@thespainreport.com">subscriptions@thespainreport.com</a> y lo solucionaremos.
	</p>
</div>