<h3>Choose The Best Deal For You</h3>
	<div style="width: 95%; margin: -20px auto 30px;">
	<table width="100%">
		<tr class="even">
			<td></td>
			<td style="text-align:center; font-family: Oswald, Arial; font-size: 16px;">One Story</td>
			<td style="text-align:center; font-family: Oswald, Arial; font-size: 16px;">All Stories</td>
		</tr>
		<tr>
			<td>Ad-free</td>
			<td style="text-align:center;">&#9989;</td>
			<td style="text-align:center;">&#9989;</td>
		</tr>
		<tr>
			<td>Full-text e-mails</td>
			<td style="text-align:center;">&#9989;</td>
			<td style="text-align:center;">&#9989;</td>
		</tr>
		<tr>
			<td>Instant alerts or briefings</td>
			<td style="text-align:center;">&#9989;</td>
			<td style="text-align:center;">&#9989;</td>
		</tr>
		<tr>
			<td>All news stories & updates</td>
			<td style="text-align:center;">Selected story</td>
			<td style="text-align:center;">&#9989;</td>
		</tr>
		<tr>
			<td>All in-depth articles</td>
			<td style="text-align:center;">Selected story</td>
			<td style="text-align:center;">&#9989;</td>
		</tr>
		<tr>
			<td>All editorials</td>
			<td style="text-align:center;">Selected story</td>
			<td style="text-align:center;">&#9989;</td>
		</tr>
		<tr>
			<td>All stories</td>
			<td style="text-align:center;">Selected story</td>
			<td style="text-align:center;">&#9989;</td>
		</tr>
		<tr>
			<td></td>
			<td style="text-align:center;">£7.99/month</td>
			<td style="text-align:center;"><strong>£15.99/month</strong></td>
		</tr>
	</table>
	<div style="font-style: italic;">
		<strong>One story:</strong> If you are only really interested in one story (Catalan independence, Podemos, Spain & Brexit, etc.), this option allows you to get all the articles related to that story: news, editorial and in-depth.
		You can change your selected story once every 30 days.
		If you are interested in several, you should choose "All Stories".
	</div>
	</div>