<div class="subscription-form-section-middle">
	<div class="subscription-left-label-input">
		Your E-mail Address:
	</div>
	<div class="subscription-right-form-element">
		<% if current_user.nil? || current_user.role == 'editor' %>
			<input type="email" size="35" name="email" id="email" placeholder="you@example.com" class="inputgeneral" onclick="calculateTotal()"/>
		<% else %>
			<input type="email" size="35" name="email" id="email" value="<%= current_user.email %>" class="inputgeneral" onclick="calculateTotal()" readonly />
		<% end %>
	</div>
	<div class="clear"></div>
</div>