<% title 'Subscribe Now' %>

<h1>Subscribe Now To Understand More About The Most Important News From Spain, In English</h1>

<div class="article-lede" id="subscribenow">
Choose your own price to read all our latest original, independent Spain reporting, editorial insight and in-depth feature articles.
</div>

<% if current_user.nil? %>
  <%= render 'subscriptionform' %>
<% elsif current_user.stripe_customer_id.nil? %>
  <%= render 'subscriptionform' %>
<% elsif current_user.stripe_customer_id? %>
  <div id="flash_success_div">You are already a valued subscriber and your subscription is up-to-date.</div>
<% else %>
<% end %>

<hr />

<div class="article-text">

<h3>15 minutes from a breaking story to the front page of the BBC demands a new relationship between journalists and readers</h3>
<p>
The media and news environments have changed radically over the past few years, flooding the world with information and connecting readers, participants, journalists and decision makers in new ways. News is now instant, global and social in what is often labelled the Attention Economy. 24 hours a day, seven days a week, always-on streams of stories. A constant, overwhelming flood of data, in which three things prevent you from understanding that world better: language, context and trust. You need to know what is being said, why that is important and who is really telling you the story. News companies and readers must also decide together who is going to pay for that independence and ability to dig deeper. Annoying ad distraction is no solution. It is just annoying. We must focus on what we value and we must respect your time and attention.
</p>
<div class="happy-subscribers">
<p>“Your reporting and comment are excellent – please keep up the good work! As a British person resident in Catalonia for the past 13 years, I really appreciate your objective and well written reporting of politics in Spain.“—John, Catalonia</p>
</div>
<div class="clear"></div>

<h3>Fast, original, independent reporting to help you understand the most important news from Spain, in English</h3>
<p>
So that is exactly what we concentrate on. The Spain Report monitors hundreds of Spanish news sources for you. We pick up the phone and ask Spaniards questions on your behalf about what's going on in their country, from the poorest long-term unemployed citizen, through subject matter experts in dozens of areas of life, all the way up to the Prime Minister's Office in Moncloa and the Royal Household in Zarzuela. We get out on the ground to see how the country is changing. We make sure we receive all of the latest political, legal and economic information in Spanish, mostly at the same time Spanish media outlets get it, and then use decades of Spain experience and the highest-level of human translation to make sure you get the whole story, in English, with all of the working parts and fascinating nuances, as fast as we can report it.
</p>
<div class="happy-subscribers">
<p>“I enjoy reading The Spain Report and it’s my go to when I want to understand the news in Spain. My Spanish is not yet good enough for me to grasp all I read in the Spanish press. Also I find your editorial line is more independent, and keener to question the news as you report it.“—Geoff</p>
</div>
<div class="clear"></div>

<h3>You are the reason we do this but we have no idea what your personal situation is, so you choose how much you pay</h3>
<p>
You are the key to this whole thing. You are the reader, you are the subscriber, you are the defender of independent news. You are the whole reason we write all of the articles. They are stories you need to know about to understand how Spain is changing, to see how an entire country is evolving before our eyes, the famous first draft of history, and how it will all affect your interests here.
</p><p>
We don't really know what you do with the rest of your life, though, and nor is it any of our business. We just know you're really, really interested in the news from Spain, and that you probably—but not always—fit into one of these five profiles:
<ul>
<li>foreign investors watching a very complex situation so that they can jump out, or back in, to their investment at the right time;</li>
<li>long-term "life investors" in Spain, with property, kids, businesses, jobs and family to take care of here after many years;</li>
<li>foreign diplomats on postings to Madrid, responsible for informing governments at home about what is really going on in Spain;</li>
<li>school, university or independent students of Spanish, with a passion for learning all they can about Spain and Spaniards;</li>
<li>fellow journalists working at top global newspapers or TV channels, who need fast, precise updates on the latest major stories;</li>
</ul></p><p>
Everyone is very welcome, but value is a very relative concept and everyone has a very different economic situation, so everyone pays something but you can choose the price that best fits how much you value our news service, from your place in life. This is very much a virtuous circle: the more subscribers choose to pay, the better Spain reporting we can do for you.
</p>
<div style="margin: 30px auto; text-align:center;"><a href="#subscribenow" class="blueformbutton">Subscribe Now</a></div>
<div class="happy-subscribers">
<p>"I've lived here for the last 25 years. I have a Spanish family and speak a lot more Spanish than I do English.  I'm an avid follower of Spanish politics and very concerned about the lack of transparency, accuracy and impartiality in the Spanish Press. I'm a paid subscriber to El Diario and now to The Spain Report. I also read El Mundo and El Pais on a daily basis and, when I need a dose of humour, I check out what Marhuenda has to say.  I do feel you have your finger on the pulse of the Spain of today - we need as much independent reporting as possible.  Keep up the good work!"—Simon</p>
<p>“Since my daughter has lived in Spain for many years and is now with a Spanish partner, I have taken up interest in Spain. But not being able to read or speak Spanish (to my regret), your initiative is ideal for me.“—Aad, Holland</p>
</div>
<div class="clear"></div>

<h3>Serious, frequent Spain news and analysis for you, without wasting your time</h3>
<p>
There are other places trying their best to do Spain news in English and they can be split into four groups:
</p><p><ul>
<li>Expat blogs, enthusiastic and frequently insightful on some issues with strong opinions, are still blogs: no reporting, a bit scruffy and disorganised, and mostly infrequent; established long-term expat print newspapers on the coast in different areas of Spain serve local expat audiences very well but their editorial focus and effort is more local, or perhaps regional in a couple of cases;</li>
<li>The Guardian, New York Times, FT and Economist all have Spain sections and produce higher quality stuff, but they do a relatively small number of articles, you might have to wait a couple of days for them and, because of the very broad global audience they have to serve, they often leave out many of the most fascinating parts of the stories that are changing the country;</li> 
<li>Some Spanish newspapers very occasionally publish the odd article in English online, and there's the English version of El País, but the problem with that is that it only gives you a few translated articles from El País;</li>
<li>The Local is perhaps closest to what we do but they are a European network and their content focus is more light-hearted, with listicles and top tapas bars or beaches, and their business model is focused on distracting you with ads;</li>
</ul></p><p>
The Spain Report does fast, frequent, original, independent reporting of the most important stories changing Spain for you, with editorial analysis and insight, as soon as they're news. And we don't waste your time and attention by distracting you with annoying ads.
</p>
<div class="happy-subscribers">
<p>"I recently moved to Spain in August 2015, and am in the process of selling my house in the UK and settling permanently in Spain. A really important part of becoming an immigrant, as indeed I am, is understanding the nuances of Spanish cultural, social and political life. Although I am learning Spanish I have a long way to go before my Spanish will reach the competence necessary for this […] The English speaking newspapers in Spain in the main seem to have more in common with UK redtops than in serious analysis, and I have found them on occasion to be UK centric, prejudiced or even offensive"—Jennifer</p>
</div>
<div class="clear"></div>

<h3>Everything you need…</h3>
<p><ul>
<li>Build a rich mental model of a changing Spain and Spaniards' struggles;</li>
<li>Immediate access to all of our news, editorial insight and in-depth features;</li>
<li>Full-text e-mails right in your inbox, as soon as stories are published;</li>
<li>You can regulate how much e-mail you get (including 'no e-mail');</li>
<li>Full access to the same RSS news reader we use to trawl stories in Spanish;</li>
<li>Clean, safe, fast-loading articles on all of your desktop, tablet and mobile devices;</li>
</ul></p>
<div style="margin: 30px auto; text-align:center;"><a href="#subscribenow" class="blueformbutton">Subscribe Now</a></div>
<div class="happy-subscribers">
<p>“I just love your editorial updates. You are erudite and succinct like no other commentator I have found, whats more, from an editorial stand point, you are consistent and up to the minute.“—Edward, Canary Islands</p>
<p>“I follow all your stuff on twitter and it is of excellent quality.“—Cathal, Dublin</p>
</div>
<div class="clear"></div>

<h3>An intriguing journey towards greater understanding of a complex, constantly changing world</h3>
<p>
The world is such a fascinating place. It always has been and always will be. Momentous, historic changes are taking place right now. We are on this enormous existential journey together and today, thanks to all of this technology and connection, we get to observe huge chunks of it in real time. We are, as it were, on the front line of history. We can reach out and connect to participants in a way our predecessors never could; we now have new opportunities to try to demand accountability from those in power and it's easier to catch them out when they lie; we also have unprecedented access to data and tools to try to make sense of it all. It's right here, waiting for you to jump in. The Spain Report provides you with a window on the most important changes and stories in that part of the world we call Spain, and we do it all in English for you.
</p>
<div class="happy-subscribers">
<p>“Just wanted to let you know that I just subscribed and it was easier. The articles that you are writing are exactly what I want to read about – the employment situation, the corruption and what I need to look out for.“—Carlene, Canada</p>
</div>
<div class="clear"></div>

<h3>We have, in the end, a duty to seek out the truth, to value the truth</h3>
<p>
We need a free press. We need top-quality, serious, independent news, well reported in a timely manner. Ultimately, not only the health and future of our democracies—as citizens and voters—but the well-being of our families and financial assets—as parents, professionals and investors—depend on us having decent information about how our world is changing, as that history unfolds before our eyes. We have, as one well-known columnist in the UK said last year when he resigned from his newspaper, what amounts to a duty to tell the truth, to seek out the truth, to value the truth. Beyond all other things.
</p><p>
That is the point of a newspaper or, nowadays, a news company. To search for the truth on matters of public import on behalf of its readers, and to let you know about what we find.
</p><p>
The more you report, though, the more you carry out acts of journalism, the more slippery 'truth' becomes. People try to hide it from you, to sneak it away, to spin it, to twist it; sometimes it gets buried by other events, and the more complex the story being told, the more difficult it is to distill the reflections of 'truth' left by events into a digestible form.
</p><p>
But we must try. We must invest in that effort. Together. That is what The Spain Report can do for you.
</p>
<div style="margin: 30px auto; text-align:center;"><a href="#subscribenow" class="blueformbutton">Subscribe Now</a></div>
<div class="happy-subscribers">
<p>“I have been a subscriber to The Spain Report for a few months and it is a cracking read: insightful, well written and independent. How refreshing it is not having to read a load of cut and pasted press releases from the corrupt cronies “running” the joint. This story was one of the best. It could be a candidate for Private Eye’s Funny Old World column.…I subscribed to TSR as it covers important news with analysis and is delivered in a convenient format.“—Edward, Gibraltar</p>
<p>“If you want regular #news from #Spain in English, please subscribe to @thespainreport. It’ll be money well spent. Great resource. #media“—Patrick, London</p>
</div>
<div class="clear"></div>

</div>


<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="/assets/jquery.payment.js"></script>

<script>
    jQuery(function($) {
      $('[data-numeric]').payment('restrictNumeric');
      $('.cc-number').payment('formatCardNumber');
      $('.cc-exp').payment('formatCardExpiry');
      $('.cc-cvc').payment('formatCardCVC');

      $.fn.toggleInputError = function(erred) {
        this.parent('.form-group').toggleClass('has-error', erred);
        return this;
      };

      $('form').submit(function(e) {
        e.preventDefault();

        var cardType = $.payment.cardType($('.cc-number').val());
        $('.cc-number').toggleInputError(!$.payment.validateCardNumber($('.cc-number').val()));
        $('.cc-exp').toggleInputError(!$.payment.validateCardExpiry($('.cc-exp').payment('cardExpiryVal')));
        $('.cc-cvc').toggleInputError(!$.payment.validateCardCVC($('.cc-cvc').val(), cardType));
        $('.cc-brand').text(cardType);

        $('.validation').removeClass('text-danger text-success');
        $('.validation').addClass($('.has-error').length ? 'text-danger' : 'text-success');
      });

    });
</script>

<script type="text/javascript">
$(function(){
  Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
});

$('#payment-form').submit(function(event) {
  var form = $(this);
  form.find('button').prop('disabled', true);
  Stripe.createToken(form, stripeResponseHandler);
  return false;
});

function stripeResponseHandler(status, response) {
  var form = $('#payment-form');
  if (response.error) {
    form.find('.payment-errors').text(response.error.message);
    form.find('button').prop('disabled', false);
  } else {
    var token = response.id;
    form.append($('<input type="hidden" name="stripeToken">').val(token));
    form.get(0).submit();
  }
}
</script>