<h1>Thank You For Joining The Spain Report!</h1>

<p style="margin-top: 10px; line-height: 140%;">You will now get two e-mails, which should arrive more or less immediately. They occasionally take up to a few minutes.</p>

<p style="margin-top: 10px; line-height: 140%;">The first will be to confirm your e-mail, the second to choose a secure password.</p>

<p style="margin-top: 10px; line-height: 140%;">If you have any problems, just <%= mail_to 'subscriptions@thespainreport.com', 'send us an e-mail' %> and we'll fix it for you as quickly as possible.</p>