<h1>Thank You For Subscribing To The Spain Report!</h1>

<p style="margin-top: 10px; line-height: 140%;">Ok, that worked, well done. Now please click on the link in the e-mail we have just sent you to confirm your registration. In a minute or so you will be writing your first comment.</p>

<p style="margin-top: 10px; line-height: 140%;">Your confirmation e-mail should arrive more or less immediately. If it doesn't, check your 'spam' folder. If that doesn't work, e-mail <%= mail_to 'matthew@thespainreport.com', 'the editor' %> to complain and we'll fix it for you.</p>