<p style="font-style:italic;">
	<ul>
		<li>Spain is a fascinating country, its history full of intriguing characters and events, and the story is not over;</li>
		<li>Media and technology have evolved in the last decade but the truth still needs to be told, power held to account;</li>
		<li>Our collective futures depend on our ability to understand how our societies are evolving;</li>
		<li>The Spain Report gives you fast reporting and deeply informed analysis of the latest news from Spain, in English;</li>
		<li>You get a better understanding of the events, trends, stories and narratives changing this wonderful country;</li>
		<li>The struggle for precision and clarity about complex issues is constant and requires the investment of resources;</li>
		<li>Your subscription guarantees our news and analysis are 100% independent: we write for you, and only you;</li>
		<li>10% discount for 2-9 users, 20% discount for 10-99 users, 30% discount for +100 users.</li>
	</ul>
</p>