<%= render 'send_article_top' %>

<%= render 'send_article_truncated' %>

<p style="font-style:italic;">
	Thank you for enjoying your guest access. 
	<a href="https://www.thespainreport.com/subscriptions/new" style="color:#AA151B;">Please subscribe now</a> to keep getting full-text articles by e-mail.
	You keep us 100% independent; your subscription guarantees your Spain news.
</p>

<%= render 'send_article_date_stories' %>
<%= render 'send_article_briefing_bottom' %>