<% if current_user.nil? %>

<div class="modal-content">
      <div class="modal-body">

        <%= render 'emailsignup_one' %>
        
        </div>
      <div class="modal-footer">
        <span style="font-family: Oswald; font-weight:bold; border-bottom: 2px solid #AA151B;">THE <span class="red">SPAIN</span> REPORT</span>
      </div>
    </div>

<% end %>