<div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="myModalLabel">Please re-subscribe now to keep reading</h1>
      </div>
      <div class="modal-body">
        <div style="padding-bottom: 5px; border-bottom: 1px solid #AA151B; margin-bottom: 0px;">
        <div id="flash_success_div">
            Thank you for subscribing to The Spain Report. Your original subscription appears to have run out.
            Please <a href="https://www.thespainreport.com/subscriptions/new">re-subscribe now</a> at whatever price suits you best.
          </div>
        <div class="clear"></div>
        </div>
        <div style="background-image: url(<%= asset_path 'thespainreport-evssl-white.jpg' %>); background-repeat: no-repeat; background-position: bottom right; background-size: 65px 48px;">
        <p style="text-align:center; margin: 20px 0 20px 0;"><a href="https://www.thespainreport.com/subscriptions/new" class="blueformbutton">Subscribe Now</a></p>
        <ul>
        <li>Fast, original, independent reporting of Spain news, in English;</li>
        <li>In-depth articles illustrate the trends changing the country;</li>
        <li>Editorials explain the context and meaning behind the headlines;</li>
        <li>Instant access, no ads, no spam: you can subscribe in two minutes;</li>
        <li>Clean, lightning fast pages that load on all of your devices;</li>
        <li>Full-text e-mails: choose instant delivery or daily summaries;</li>
        <li>You guarantee a free press and journalism in the 21st Century;</li>
        </ul>
        <p style="margin: 0; width: 85%; font-style: italic;">“Your reporting and comment are excellent – please keep up the good work!"—John, Catalonia</p>
        </div>
        </div>
      <div class="modal-footer">
        <span style="font-family: Oswald; font-weight:bold; border-bottom: 2px solid #F1BF00;">THE <span class="red">SPAIN</span> REPORT</span>
      </div>
    </div>