<% Article.tickerstories.each do |article| %>

  <% if article.urgency == 'majorbreaking' && article.created_at >= 3.hours.ago %>
    <div class="major-breaking-news-top">
      <%= link_to article do %><span class="breaking">MAJOR BREAKING NEWS</span><% end %> <strong><%= link_to article.headline, article %></strong>
    </div>
  <% elsif article.urgency == 'breaking' && article.created_at >= 3.hours.ago %>
  <div class="breaking-news-top">
        <%= link_to article do %><span class="breaking">BREAKING NEWS</span><% end %> <strong><%= link_to article.headline, article %></strong>
  </div>
  <% else %>
  <% end %>

<% end %>